<div class="clearfix">
  <div class="col-sm-3 pull-right">
    <select class="form-control filter" name="type">
        {{#each filterTypes}}
            <option {{#if active}}selected{{/if}} value={{key}}>{{name}}</option>
        {{/each}}
    </select>
  </div>
  <div class="col-sm-3">
    <select class="form-control filter" name="dateSort">
        {{#each sorts}}
            <option {{#if active}}selected{{/if}} value={{key}}>{{name}}</option>
        {{/each}}
    </select>
  </div>
</div>